<!DOCTYPE html>
<html lang=”en”>
<head>
  <meta charset=”UTF-8">


  <title>Demonstration of EJS templating in NodeJS Application</title>
  <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
  <link rel=”stylesheet” href=”/public/style.css”></link>
</head>

    <body>

            <section name=”jumbotron”>
                <div class=”jumbotron text-center”>
                    <h1>CodePrep.io Presents</h1>
                    <p>Using EJS templating with Node.js</p>
                </div>
            </section>
    </body>

</html>
